<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/books.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/yearpicker.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">{% block heading %}{% endblock %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/books">Books</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/add">Add Book</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="alert alert-primary" role="alert">
      Your HTTP request is being handled by K8S Pod with ip address: <strong>{{host_ip}}</strong>
    </div>

    {% block body %}
    {% endblock %}

    <script src="{{ url_for('static', filename='Scripts/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/yearpicker.js') }}"></script>
    <script>
      $('.yearpicker').yearpicker();
    </script>
  </body>
</html>
