{% extends "layout.html" %}

{% block heading %}
  Web Library
{% endblock %}

{% block body %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xs-12">
          <form class="form-inline my-2 my-lg-0" action="/search_result" method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_p">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
